@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css'); 

body{
    background-color: black;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-size: small;
}
.social-icons a{
    color: #FFFFFF;
    margin: 5px;
    text-decoration: none;
}

.btn{
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-size: small;
    
}

.nav-link.active{
    font-weight: bolder;
    text-decoration: none;
}

.nav-link{
    text-decoration: underline;
}

.navbar-sm{
    background-color: #edecf0;
    height: 20px;

}

.carousel-control-prev,
.carousel-control-next {
    width: 100px; /* Adjust the width as needed */
    height: 1080px; /* Adjust the height as needed */
    font-size: 14px; /* Adjust the font size as needed */
}
