@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css'); 

.social-icons a{
    color: #FFFFFF;
    margin: 5px;
    text-decoration: none;
}

body{
    background-color: black;
}

.rounded-pill{
    font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next {
    width: 100px; /* Adjust the width as needed */
    height: 1080px; /* Adjust the height as needed */
    font-size: 14px; /* Adjust the font size as needed */
}
